{{ define "main" }}
<section class="post-wrapper-top section-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <h2>{{ .Title }}</h2>
        </div>
    </div>
</section>
<section class="blog-wrapper">
    <div class="container">
        <div class="row">
            <!-- Sidebar submenu -->
            <div id="sidebar" class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-xs">
                <div class="widget widget_nav_menu">
                    <div class="title"><h2>Menu</h2></div>
                    <div class="menu-research-container">
                        <ul id="menu-research" class="menu">
                            <li class="menu-item active"><a href="#key-themes" data-topic="key-themes">Key Research themes</a></li>
                            <li class="menu-item"><a href="#projects" data-topic="projects">Projects</a></li>
                            <li class="menu-item"><a href="#publications" data-topic="publications">Publications</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <div id="content" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="blog-masonry page_desc">
                        <div class="col-lg-12">
                            <div class="blog-carousel">
                                <div class="content_entry"></div>
                                <div class="blog-desc">
                                    <!-- Key Research themes -->
                                    <div id="topic-key-themes" class="project-topic-content" style="display:block;">
                                        <div class="blog-header"><h3>Key Research themes</h3></div>

                                        <div class="project-item">
                                            <h4>Assessment of open (spatial) data infrastructures</h4>
                                            <p>Assessment and evaluation of open data initiatives and infrastructures is a useful tool for all actors and organizations directly or indirectly involved in these initiatives, including policy makers, public servants, researchers, citizens, journalists and other stakeholders. Since the moment governments started with setting up national, sectoral or organizational open data initiatives, assessment frameworks were developed to prepare, monitor and evaluate the implementation of these initiatives. Our research critically examines mainstream approaches to assess open data initiatives and explores new approaches and methods for assessing the readiness, implementation and impact of open data.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Governance of open geodata</h4>
                                            <p>Different governance models are being utilized for managing the relationships and dependencies between all involved actors, units and organizations. Due to the lack of research on the governance of open spatial data policies, it still remains difficult to understand the impact of implemented governance models on the success of open spatial data initiatives. As a result, practitioners and policy makers remain uninformed and uncertain about the success and appropriateness of their open spatial data governance model. The KCOD investigates the adoption of different governance instruments and mechanisms in the development and implementation of open data infrastructures.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Open geodata business models</h4>
                                            <p>A key challenge in the development and implementation of data infrastructures is the adaptation and alignment of existing business models of the involved actors and organizations. On the other hand, the move towards open data also led to the emergence of new business models, such as 'infomediary' business models, focused on connecting data providers and end-users through the development of services on top of open data. Our research explores the diversity of business models that are driven by open data.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Legal framework for open geodata</h4>
                                            <p>The rights and values underlying Open Data need to be balanced with the countervailing ones that might be dented by releasing data as open. The technical and legal openness promoted by open data laws and regulations is logically bound to clash with other rights, freedoms, and interests, when the latter regulate or impede information disclosure. The rights to privacy and to the protection of personal data, in particular, are amongst the starkest and most notable limits to Open Data. The KCOD research explores the imbalance between open data regulation and regulations hindering or restricting open data.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Use and users of open geodata</h4>
                                            <p>Most countries and public administrations are implementing a strongly supply-driven open data policy, focusing on making their data available according to the principles of open data. So far, the impact of these initiatives in stimulating the uptake and use of open geographic data has been rather limited, and governments are looking for new approaches to stimulate the use of open data. KCOD's research focuses on monitoring and assessing the use of open data and on designing effective and innovative strategies for promoting and stimulating the use of open data.</p>
                                        </div>

                                    </div>

                                    <!--Projects -->
                                    <div id="topic-projects" class="project-topic-content" style="display:none;">

                                        <div class="blog-header"><h3>Projects</h3></div>
                                        
                                        <div class="project-item">
                                            <h4>DIgital data-dRiven EduCaTion fOR kidS (2023-Now)</h4>
                                            <p><a href="https://kidsdirectors.eu/" target="_blank">DIRECTORS (DIgital data-dRiven EduCaTion fOR kidS)</a> is an <a href="https://erasmus-plus.ec.europa.eu/" target="_blank">Erasmus+ project</a> [<a href="https://erasmus-plus.ec.europa.eu/projects/search/details/2023-1-NL01-KA210-SCH-000157821" target="_blank">2023-1-NL01-KA210-SCH-000157821</a>] launched in December 2023 that aims to promote data literacy in primary education through new teaching methods and materials to support updating current curricula on data education.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Towards a sustainable Open Data ECOsystem (ODECO) (2021-2025)</h4>
                                            <p><a href="https://odeco-research.eu/" target="_blank">ODECO</a> is a 4-year Horizon 2020 Marie-Curie Innovative Training Network initiative (H2020-MSCA-ITN-2020, grant agreement 955569). The central aim of the ODECO consortium network is to train the next generation of creative and innovative early stage open data researchers. The programme runs between October 2021 and September 2025 and will deliver 15 PhD degrees.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Open Spatial Data Infrastructure (Open SDI)</h4>
                                            <p>In the search for the ideal spatial data infrastructure a common ground has been established for the development of <a href="{{ "opensdi/" | absURL }}" target="_blank">open spatial data infrastructures</a>. In this project we assess the openness of Spatial Data Infrastructures. Part of this project is the creation of the 'Map of Open SDI in Europe'.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Safeguarding data protection in an open data world (SPOW) (2015-2019)</h4>
                                            <p>This research applies the requirements for effective co-design of data protection and open data regulations to the smart city domains of transport, energy and eHealth with a view to boosting innovation and strengthening the economy.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Effective governance of Open Spatial Data (E-GOS) (2016-2018)</h4>
                                            <p>The research project <a href="http://e-gos.eu" target="_blank">'Effective Governance of Open Spatial Data' (E-GOS)</a> investigates the impact of different models for governing open spatial data on the performance of open spatial data policies in Europe.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>The STIG: Stress Testing the Infrastructure for Geographic information (2011-2019)</h4>
                                            <p>In this research, we propose a new method for SDI assessment: The STIG, a Stress test for Infrastructures of Geographical information. The development and application of the Stress-test methodology will provide new valuable information for decision-makers.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>4D Open Spatial Information Infrastructure for Participatory Urban Planning Monitoring (2016-2019)</h4>
                                            <p>This PhD research project investigates how to design and implement participatory 4D information system for urban planning monitoring built on open Spatial Information Infrastructures.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Effective governance of Open Spatial Data at Local level (E-GOS Local) (2016-2018)</h4>
                                            <p>The <a href="http://e-gos.eu" target="_blank">E-GOS Local project</a> investigates the governance and performance of open spatial data policies at organizational level, as well as the link between the national and organizational policies.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>E-conveyancing & cyber security (blockchain) (2017)</h4>
                                            <p>This project researches the legal risks associated with e-conveyancing and their potential impact on cross-border real estate transactions.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Exploring the sustainability of open data business models (2017)</h4>
                                            <p>This research assesses the effects of open data policies on the business model of National Mapping Agencies, including effects on the way the organisations are able to (re)finance their operational costs.</p>
                                        </div>

                                        <div class="project-item">
                                            <h4>Location data processing by social and commercial platforms (2017)</h4>
                                            <p>This research project explores the location data value chain, starting with the collection of the location data and ending with the use of these data by third parties.</p>
                                        </div>
                                    </div>

                                    <!-- Publications -->
                                    <div id="topic-publications" class="project-topic-content" style="display:none;">
                                        <div class="blog-header"><h3>Publications</h3></div>

                                        {{ $articles := (index .Site.Data.publications "articles").publications }}
                                        {{ $reports := (index .Site.Data.publications "reports").publications }}
                                        {{ $bookChapters := (index .Site.Data.publications "book-chapters").publications }}
                                        {{ $all := slice }}
                                        {{ range $articles }}{{ $all = $all | append . }}{{ end }}
                                        {{ range $reports }}{{ $all = $all | append . }}{{ end }}
                                        {{ range $bookChapters }}{{ $all = $all | append . }}{{ end }}
                                        {{ $sorted := sort $all "year" "desc" }}
                                        
                                        {{ $currentYear := 0 }}
                                        {{ range $sorted }}
                                            {{ if ne .year $currentYear }}
                                                {{ $currentYear = .year }}
                                                <h4 style="margin-top: 30px; margin-bottom: 15px; font-size: 22px; font-weight: bold; color: #333; border-bottom: 2px solid #31a3dd; padding-bottom: 5px;">{{ .year }}</h4>
                                            {{ end }}
                                            <div class="publication-item" style="margin-bottom: 25px; padding-left: 25px;">                                
                                                <div class="publication-content" style="font-family: 'Lato', sans-serif; font-size: 15px; line-height: 1.8; color: #333;">
                                                    {{ if .citation }}
                                                        <div class="citation-text">{{ .citation | markdownify }}</div>
                                                    {{ end }}
                                                    
                                                    {{ if .external_url }}
                                                        <div style="margin-top: 8px;">
                                                            <a href="{{ .external_url }}" target="_blank" style="color: #31a3dd; text-decoration: none; font-size: 14px;">
                                                                <i class="fa fa-external-link"></i> View Publication
                                                            </a>
                                                        </div>
                                                    {{ end }}
                                                </div>
                                            </div>
                                        {{ end }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const menuItems = document.querySelectorAll('#menu-research .menu-item');
    const topicContents = document.querySelectorAll('.project-topic-content');

    function activateTopic(topic) {
        const validTopics = ['key-themes', 'projects', 'publications'];
        if (!validTopics.includes(topic)) topic = 'key-themes';
        menuItems.forEach(i => i.classList.remove('active'));
        topicContents.forEach(tc => {
            tc.style.display = tc.id === 'topic-' + topic ? 'block' : 'none';
        });
        const activeLink = document.querySelector('#menu-research a[data-topic="' + topic + '"]');
        if (activeLink) activeLink.closest('.menu-item').classList.add('active');
    }

    menuItems.forEach(item => {
        item.addEventListener('click', function(e) {
            e.preventDefault();
            const topic = this.querySelector('a').getAttribute('data-topic');
            history.pushState(null, '', '#' + topic);
            activateTopic(topic);
        });
    });

    window.addEventListener('popstate', function() {
        activateTopic(window.location.hash.slice(1));
    });

    // Activate based on URL hash on load
    activateTopic(window.location.hash.slice(1) || 'key-themes');
});
</script>
{{ end }}
